* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color:white;
}

/* ---Header--- */

header {
    background-color:  #FF5D01;
    color: white;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /*position: fixed;*/
}

nav {
    width: 50%;
}

ul {
    display: flex;
    justify-content: space-around;
}


.navbar__button{
width: 100px;
height: 30px;
padding: 0px;
font-size: 1rem;
border-radius: 20px;
background-color: white;
color: black;
font-weight: 750;
display: flex;
flex-flow: row wrap;
justify-content: center;
align-items: center;
border-style: none;
}

.hero{ 
    width: 100vw;
    height: 50vh;
    background-image: url(../Assets/GarretG.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
/* falta centrar imagen */
}

.hero__title, 
.hero__text{
    color:white;
    background-color: #262626cb;
    border: solid 1px grey;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
}

.hero__button{
    width: 300px;
    height: 50px;
    padding: 0px;
    font-size: 1.5rem;
    border-radius: 20px;
    background-color: #FF5D01;
    color: white;
    font-weight: 750;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-style: none;
}

.hero__button:hover{
        background-color: white;
        color: #FF5D01;
        border-style: none;
}

.separador{
    background-color:#1a1919;
    color: white;
    display: flex;
    flex-flow: column wrap;
    align-items:center;
    justify-content: space-around;
    /* quiero separar el texto y no me sale*/
    padding: 20px;
}

.team{
    display: flex;
    flex-flow: row wrap;
    background-color: #FF5D01;
    justify-content: space-around;
    gap: 0px;
}

.card {
    width: 300px;
    height: 400px;
    border: 2px black;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #262626;
    color: white;
    padding: 10px 0px;
    border-radius: 20px;
    margin: 1px;
}

.card__img {
    width: 100%;
    padding: 10px 0px;
}

.card__button {
    width: 150px;
    height: 30px;
    padding: 0px;
    border-radius: 20px;
    background-color: #FF5D01;
    color: white;
    font-weight: 750;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-style: none;
}

.card__button:hover {
    background-color: white;
    color: #FF5D01;
}

.button__separador{
    width: 400px;
    height: 50px;
    padding: 0px;
    font-size: 1.5rem;
    border-radius: 20px;
    background-color: #FF5D01;
    color: white;
    font-weight: 750;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-style: none;
    margin: 20px;
}

.title{
    text-align: center;
    margin: 50px;
    font-size: 3rem;
}

.card--2{
    height: 400px;
    justify-content: start;
    align-items: center;
    margin-bottom: 50px;   
}

footer {
    display: flex;
    justify-content: space-around;
    margin: 20px
}

.card--footer{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    width: 300px;
    padding: 10px;
    align-items: center;
}

.cursos{
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    border: 1px black solid;
}

.cursos__img{
    width: 25vw;
    height: 300px;
    border: 1px black solid;
}

.cursos__texto{
    width: 75vw;
        display: flex;
        flex-flow: column wrap;
        border: 1px rgb(221, 26, 26) solid;
}

.form{
    width: 100vw;
    font-size: 2rem;
    background-color: #1a1919;
    display: flex;
    flex-flow: column wrap;
    color:white;
    align-content: center;
    justify-content: space-between;
}

.card__img--precios{
    height: 200px;
}
